body {
    font-family: 'Poppins', Helvetica, sans-serif;
    color: #000;
  }
  header {
    background-color: #fff;
    padding: 48px;
    position: sticky;
  }
  header img {
    max-height: 4vh;
    /* border-radius: 100%; */
    /* object-position: 50% 50%; */
    /* object-fit: cover; */
  }
  header ul {
    float: right;
    color: #000;
    padding-right: 48px;
    padding-top: 8px;
    font-family: 'Lato', 'Roboto', sans-serif;
    font-weight: bold;
  }
  header li {
    display: inline-block;
    padding: 0px 24px;
  }
  header p {
    display: inline-block;
  }
  .heroImg {
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: relative;
    background-size: cover;
  }

  /* Text styles */
  .hero1 {
    font-size: xx-large;
  }
  .heroBody {
    font-size: x-large;
  }
  .heroFine {
    font-size: small;
  }
  

  /* Hero */
 /* #heroGrid {
    margin: 0px 5%;
    display: grid;
    min-height: 500px;
    height: 70vh;
    grid-template-rows: 75% 25%;
    grid-template-columns: 75% 25%;
    grid-template-areas:
    "featuredProduct secondaryProduct"
    "featuredProduct CTA";
  } */

  /*#featuredProduct {
    grid-area: featuredProduct;
    background-image: url("../images/furniture1.png");
  }
  #secondaryProduct {
    grid-area: secondaryProduct;
    background-image: url("../images/furniture2.png");
  }
  #CTA {
    grid-area: CTA;
    background-image: url("../images/woodbg.png");
    justify-content: space-around;
    cursor: pointer;
  }*/
  #headline {
    background-color: rgba(255,255,255,0.6);
    border-bottom: 4px solid #00a2ff;
    position: absolute;
    right: -70vh;
    top: 15vh;
    padding: 25px;
    max-width: 60vh;
    z-index: 100;
  }
 .heroGridArea {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    display: flex;
    position: relative;
  }

  .content {
    max-width: 300px;
    margin-left: 33%;
    padding: 50px;
    /* background-color: rgba(0,0,0,0.3); */
    text-align: left;
  }
  button {
    padding: 8px;
    padding-left: 12px;
    padding-right: 12px;
    background-color: #373738;
    color: white;
    font-size: 15px;
    border-radius: 4px;
  }
  #resume {
    display: block;
    margin: auto;
  }

  /*
  .container {
    position: relative;
    background: green;
    width: 640px;
    height: 640px;
    margin: 20px auto;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
  }*/

  .flexContainer {
    display: flex;
    flex-direction: row; /* Note: row is default, but it doesn't hurt to practice! */
    grid-template-rows: 33% 33% 33%;
    justify-content: left;
    align-items: right;
  }
  .workGrid {
    display: grid;
    background: white;
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .mySkills {
    z-index: 3;
    position: relative;
    background: #383838;
    color: white;
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .myWork {
    padding: 24px;
  }
  footer {
    background-color: #373738;
    padding: 5px;
    color: white;
  }
  footer ul {
    list-style: none;
    padding-left: 5px;
  }
  footer li {
    display: inline-block;
    padding: 0px 7px;
  }


  /* Canvas Eraser from: https://codepen.io/progrape/pen/XXBwWe */
  .box {
    display: inline-block;
    background: url("../images/bg_1_fullColor.png"); /* full color img (that remains at bottom) */
    background-size: cover;
    /* defining width and height seem to mess up the fullColor img's semi-responsive ability. */
  }

  canvas {
    background: transparent;
  }
/* end Canvas Eraser */


/* Paintbrush Cursor from: https://www.shecodes.io/athena/5042-how-to-change-the-cursor-when-hovering-over-a-button 
    More info: https://developer.mozilla.org/en-US/docs/Web/CSS/cursor
    */
    .paintbrush:hover { 
      cursor: url(../images/cursor_paintbrush_flaticon3.png), crosshair;
    }
    /* End paintbrush cursor */
  