
html {
  scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', Helvetica, sans-serif;
    color: #000;
    padding-top: 4rem; /* pushes content below fixed navbar, BUT will also push fixed navbar down; see "top:", below */
  }
  header {
    background-color: #fff;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 1rem;
    position: fixed; /* keeps navbar *fixed* to top of viewport, instead of disappearing upon scrolling down */
    width: 100%;
    z-index: 999;
    top: 0; /* vertically places fixed navbar back to top of viewport */
  }
.header-padding {
  padding-top: 0rem;
}
  header img {
    max-height: 2rem; /* limits size of my logo image */
/* didn't seem to do anything */    vertical-align: middle; 
  }
  header ul {
    float: right;
    color: #000;
    font-family: 'Lato', 'Roboto', sans-serif;
    font-weight: bold;
  }
  header li {
    display: inline-block;
    padding: 0px 2rem;
  }
  header p {
    display: inline-block;
  }

  /* Text styles */
  h1 {
    padding: 4rem;
  }

  .hero1 {
    font-size: xx-large;
  }
  .heroBody {
    font-size: x-large;
  }
  .heroFine {
    font-size: small;
  }
  .card-title {
    font-weight: 700;
  }
  
  button {
    padding: 8px;
    padding-left: 12px;
    padding-right: 12px;
    background-color: #373738;
    color: white;
    font-size: 15px;
    border-radius: 4px;
  }

  /* Hero section */
  .jumbotron {
    z-index: 999;
  }

  .heroFrame {
    height: 40rem;
    overflow: hidden;
  }

  /* Skills section */
  .flexContainer { 
    display: flex;
    flex-direction: row; /* Note: row is default, but it doesn't hurt to practice! */
    grid-template-rows: 33% 33% 33%;
    justify-content: left;
    align-items: right;
  }
  .mySkills {
    z-index: 3;
    position: relative;
    background: #383838;
    color: white;
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .divider {
    height: 1rem;
  }
  
  /* Work section */
  .container-fluid {
    padding-left: 4rem;
    padding-right: 4rem;
    display: flex;
    flex-flow: row wrap;
  }
  .cardContainer {
    margin: 0px;
    padding: 24px;
    flex: 0 0 33.333%; /* flex-grow | flex-shrink | flex-basis */
    display: flex; /* this made the cards the same vertical height */
  }
  .card {
    margin: 0 auto;
    flex: 0 0 100%;
    box-shadow: 0 0 4px rgba(0,0,0,0.4);
  }


  /* About section */

  /* Contact section */
  footer {
    background-color: #373738;
    color: white;
  }
  footer ul {
    list-style: none; /* gets rid of bullet points */
  }
  footer li {
    display: inline-block;
    margin: 24px;
  }

  .container-fluid-footer {
    padding-left: 4rem;
    padding-right: 4rem;
    display: flex;
    flex-flow: row wrap;
  }
  .cardContainer-footer {
    margin: 0px;
    padding: 24px;
    flex: 0 0 33.333%; /* flex-grow | flex-shrink | flex-basis */
    display: flex; /* this made the cards the same vertical height */
  }
  .card-footer {
    margin: 0 auto;
    flex: 0 0 100%;
    box-shadow: 0 0 4px rgba(0,0,0,0.4);
  }


  /* Canvas Eraser from: https://codepen.io/progrape/pen/XXBwWe */
  .box {
    display: inline-block;
    background: url("../images/bg_1_fullColor.png"); /* full color img (that remains at bottom) */
    background-size: cover;
    /* defining width and height seem to mess up the fullColor img's semi-responsive ability. */
  }

  canvas {
    background: transparent;
    margin-bottom: -6px;
  }
/* end Canvas Eraser */


/* Paintbrush Cursor from: https://www.shecodes.io/athena/5042-how-to-change-the-cursor-when-hovering-over-a-button 
    More info: https://developer.mozilla.org/en-US/docs/Web/CSS/cursor
    */
    .paintbrush:hover { 
      cursor: url(../images/cursor_paintbrush_flaticon3.png), crosshair;
    }
    /* End paintbrush cursor */
  