
html {
  scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', Helvetica, sans-serif;
    color: #242424;
    background: #242424;
    padding-top: 4rem; /* pushes content below fixed navbar, BUT will also push fixed navbar down; see "top:", below */
  }
  header {
    background-color: #242424;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 1rem;
    position: fixed; /* keeps navbar *fixed* to top of viewport, instead of disappearing upon scrolling down */
    width: 100%;
    z-index: 999;
    top: 0; /* vertically places fixed navbar back to top of viewport */
  }
.header-padding {
  padding-top: 0rem;
}
  header img {
    max-height: 100%; /* limits size of my logo image */
    /* didn't seem to do anything */    vertical-align: middle; 
    padding-bottom: 1rem;
  }
  header ul {
    float: right;
    color: #000;
    font-family: 'Lato', 'Roboto', sans-serif;
    font-weight: bold;
  }
  header li {
    display: inline-block;
    padding: 0px 2rem;
  }
  header p {
    display: inline-block;
  }

  /* Text styles */
  a:link {
    color: #fff;
    font-weight: bolder;
    text-decoration: none;
  }
  a:visited {
    color: #ccc;
    font-weight: bolder;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
  a:active {
    text-decoration: underline;
    color: #f44336;
  }
  h1 {
    color: #fff;
    padding: 4rem;
  }
  h5 {
    color: #fff;
    font-weight: bolder;
  }


  .hero1 {
    font-size: xx-large;
  }
  .heroBody {
    font-size: x-large;
  }
  .heroFine {
    font-size: small;
  }
  .card-title {
    font-weight: 700;
  }
  .tableOfContents-title {
    text-align: center;
    font-weight: 900;
  }
  
  button {
    padding-top: 10px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    background-color: #242424;
    border: 2px solid #11bbff;
    font-size: 15px;
    border-radius: 12px;
  }
  button:hover {
    text-decoration: underline;
    border: 2px solid #fff;
  }
  button:active {
    color: #f44336;
    text-decoration: underline;
  }
  


  /* Hero section */
  .jumbotron {
    z-index: 999;
  }

  .heroFrame {
    height: 40rem;
    overflow: hidden;
  }

  /* Skills section */
  .flexContainer { 
    display: flex;
    flex-direction: row; /* Note: row is default, but it doesn't hurt to practice! */
    grid-template-rows: 33% 33% 33%;
    justify-content: left;
    align-items: right;
  }
  .mySkills {
    z-index: 3;
    position: relative;
    background: #383838;
    color: white;
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .divider {
    height: 1rem;
  }
  
  /* Work section */
  .container-fluid {
    padding-left: 4rem;
    padding-right: 4rem;
    display: flex;
    flex-flow: row wrap;
  }
  .cardContainer {
    margin: 0px;
    padding: 24px;
    flex: 0 0 33.333%; /* flex-grow | flex-shrink | flex-basis */
    display: flex; /* this made the cards the same vertical height */
  }
  .card {
    margin: 0 auto;
    flex: 0 0 100%;
    box-shadow: 0 0 4px rgba(0,0,0,0.4);
  }
  .card2 {
    margin: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
    padding: 1rem;
  }
  .card2:hover {
    border-bottom: 0.2rem solid #888;
    margin-bottom: -0.2rem;
  }
  
  .card-invisible-tableOfContents {
    margin: 0 auto;
    flex: 1 0 33%;
  }
  .card-invisible-contents {
    margin: 0 auto;
    flex: 2 0 67%;
  }



  /* About section */
  a.template-image div.green:hover~img{
    content: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/a9614526-315c-495d-be50-d0c38dfd91c0/dcako6j-35f3049e-3365-43d9-bcfb-8b755fa77969.jpg/v1/fill/w_1024,h_749,q_75,strp/aquatan_battle_commander_by_jerryboomerwang_dcako6j-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NzQ5IiwicGF0aCI6IlwvZlwvYTk2MTQ1MjYtMzE1Yy00OTVkLWJlNTAtZDBjMzhkZmQ5MWMwXC9kY2FrbzZqLTM1ZjMwNDllLTMzNjUtNDNkOS1iY2ZiLThiNzU1ZmE3Nzk2OS5qcGciLCJ3aWR0aCI6Ijw9MTAyNCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.7obsqiPllsgNtnCT4U9CZvYA0h0q7VESuFyJ1yuOSMM);
   }
   
   a.template-image div.orange:hover ~ img {
    content: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/a9614526-315c-495d-be50-d0c38dfd91c0/degcmnb-2bbbea96-603b-4263-abf3-2a87bf8278dc.jpg/v1/fill/w_980,h_816,q_70,strp/inspired_by_triton_salamander__xardion__snes_1992__by_jerryboomerwang_degcmnb-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MjE1MCIsInBhdGgiOiJcL2ZcL2E5NjE0NTI2LTMxNWMtNDk1ZC1iZTUwLWQwYzM4ZGZkOTFjMFwvZGVnY21uYi0yYmJiZWE5Ni02MDNiLTQyNjMtYWJmMy0yYTg3YmY4Mjc4ZGMuanBnIiwid2lkdGgiOiI8PTI1ODIifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.guKT4p27iBf3PwkDLErBjFI4LG2VGbbq901blYYEHWc);
   }
   
   a.template-image div.red:hover ~ img {
    content: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/a9614526-315c-495d-be50-d0c38dfd91c0/dee71qd-6141f84c-0743-4210-9b20-f15894b515ac.jpg/v1/fill/w_894,h_894,q_70,strp/xardion_redesign_by_jerryboomerwang_dee71qd-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTAyNCIsInBhdGgiOiJcL2ZcL2E5NjE0NTI2LTMxNWMtNDk1ZC1iZTUwLWQwYzM4ZGZkOTFjMFwvZGVlNzFxZC02MTQxZjg0Yy0wNzQzLTQyMTAtOWIyMC1mMTU4OTRiNTE1YWMuanBnIiwid2lkdGgiOiI8PTEwMjQifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.3fU6mbfNlCWCPZKkaQYwKIt3zrgt9bAQu9xlmeg6E78);
   }






  /* Contact section */
  footer {
    background-color: #373738;
    color: white;
  }
  footer ul {
    list-style: none; /* gets rid of bullet points */
  }
  footer li {
    display: inline-block;
    margin: 24px;
  }

  .container-fluid-footer {
    padding-left: 4rem;
    padding-right: 4rem;
    display: flex;
    flex-flow: row wrap;
  }
  .cardContainer-footer {
    margin: 0px;
    padding: 24px;
    flex: 0 0 33.333%; /* flex-grow | flex-shrink | flex-basis */
    display: flex; /* this made the cards the same vertical height */
  }
  .card-footer {
    align-content: right;
    margin: 0 auto;
    flex: 0 0 100%;
    box-shadow: 0 0 4px rgba(0,0,0,0.4);
  }


  /* Canvas Eraser from: https://codepen.io/progrape/pen/XXBwWe */
  .box {
    display: inline-block;
    background: url("../images/bg_1_fullColor.png"); /* full color img (that remains at bottom) */
    background-size: cover;
    /* defining width and height seem to mess up the fullColor img's semi-responsive ability. */
  }

  canvas {
    background: transparent;
    margin-bottom: -6px;
  }
/* end Canvas Eraser */


/* Paintbrush Cursor from: https://www.shecodes.io/athena/5042-how-to-change-the-cursor-when-hovering-over-a-button 
    More info: https://developer.mozilla.org/en-US/docs/Web/CSS/cursor
    */
    .paintbrush:hover { 
      cursor: url(../images/cursor_paintbrush_flaticon3.png), crosshair;
    }
    /* End paintbrush cursor */


  